/* CSS element styles */

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300italic,400italic,400,500,700,900,&display=swap|Nunito:light,regular,semi-bold,bold');

}*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  /*font-family: Nunito, sans-serif;*/
  font-size: 20px;
  background: rgba(255,149,126,1);
  line-height: 1.5em;
  margin: 4% 1.5%;
}

/*
yellow
background: rgba(243,235,77,1);

green
background: rgba(130,198,117,1);

turqouise
background: rgba(90,183,147,1);

blue
background: rgba(55,81,162,1);

red
background: rgba(237,35,41,1);


*/

a {
  text-decoration: none;
  color: black;
  margin: 0;
  border-bottom: solid 2px black;
  padding-bottom: 0px;
}

a:hover {
  background: linear-gradient(to right, midnightblue, royalblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: none;
}

nav {
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "working goofing about";
  grid-gap: 1.5em;
  margin-right: 2%;
  place-self: start stretch;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  text-align: right;
  /*text-decoration: none;*/
  /*background-color: pink;*/
  grid-area: nav;
}

header a, nav a {
  border-bottom: none;
}

nav ul {
  font-size: 1.1em;
}

nav li {
  height: 0;
  /*display: none;*/
  /*place-self: flex-start auto;*/
  /* set a fixed width on either this li element or on ul...also try percentages */
  width: 140px;
  font-size: 0.8em;
  visibility: hidden;
}



nav ul:hover li {
  /*z-index: 1000;*/
  height: auto;
  display: inline-block;
  visibility: visible;
  background: orange;
}

.story {
  grid-area: story;
}

header {
 /* width: 100%;
  height: 100%;
  display: flex; */
  /*place-self: center stretch;*/
  font-family: Rubik, sans-serif;
  font-weight: 900;
  font-size: 4em;
  text-align: left;
  padding-top: 4%;
  margin-left: 2%;
  letter-spacing: -0.05em;
  display: inline;
  /*background: green;*/
  grid-area: head;
}

img {
  width: 100%;
  border-radius: 6px;
}


p {
  text-indent: 2em;
  max-width: 33em
  /*margin-bottom: 1.5em;*/
}

p + p {
  /*line-height: 0.5em*/
}

hr {
  border: 0.5px dashed black;
  width: 50%;
  margin: 1.5em auto;
}

/* moving the quotes of a blockquote left a smidge, so the text is all flush to the left  */
blockquote {
  text-indent: -0.8em;
}

.working {
  grid-area: working;
  /*background: lightgreen;*/
}

.goofing {
  grid-area: goofing;
  /*background: lightseagreen;*/
}

.about {
  grid-area: about;
  /*background: lightskyblue;*/
}


section {
  grid-area: main;
}

iframe {
  /* play around with this a bit */
  width: 100%;
  height: 82vh;
  border-radius: 6px;
}

footer {
  /*float: right;*/
  /*width: 100%;*/
  /* do i need this text-align? */
  /*text-align: right;*/
  /*align-self: center;*/
  color: white;
  background-color: none;
  grid-area: foot;
  place-self: end;
  margin-right: 1%;
  /*justify-self: right;*/
  /*text-align: right;
  align-self: center;*/
}

blockquote {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title"
                       "para"
}

blockquote h4 {
  grid-area: title;
}

blockquote p {
  grid-area: para;
}

/* css grid classes for all pages, using a 12-column grid here */
.index {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 20%;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     main  main  main  main  main  main  main  main  .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.about-page {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     story story story story story story story story .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}


.dropbox {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto; /*repeat(9, 200px);*/
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head   nav   nav  nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  ."
                       "img1  img1  img1  img1  .     .     .     .     img3  img3  img3  img3"
                       "img1  img1  img1  img1  img2  img2  img2  img2  img3  img3  img3  img3"
                       "img4  img4  img4  img4  img2  img2  img2  img2  img5  img5  img5  img5"
                       "img4  img4  img4  img4  .     .     .     .     img5  img5  img5  img5"
                       ".     .     .     sum3  sum3  sum3  sum3  sum3  sum3  .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       ".     vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.braintree {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  ."
                       "img1  img1  img1  img1  img1  img1  img2  img2  img2  img2  img2  img2"
                       "img3  img3  img3  img3  img4  img4  img4  img4  img5  img5  img5  img5"
                       "img6  img6  img6  img6  img6  img6  img6  img6  img7  img7  img7  img7"
                       "img8  img8  img8  img8  img8  img8  img9  img9  img9  img9  img9  img9"
                       "img10 img10 img10 img10 img11 img11 img11 img11 img11 img11 img11 img11"
                       ".     .     .     sum6  sum6  sum6  sum6  sum6  sum6  .     .     ."
                       "img12 img12 img12 img12 img13 img13 img13 img13 img14 img14 img14 img14"
                       "img15 img15 img15 img15 img15 blk1  blk1  blk1  blk1  blk1  blk1  blk1"
                       ".     .     .     sum3  sum3  sum3  sum3  sum3  sum3  .     .     ."
                       "img16 img16 img16 img16 img17 img17 img17 img17 img18 img18 img18 img18"
                       ".     .     .     sum4  sum4  sum4  sum4  sum4  sum4  .     .     ."
                       "img19 img19 img19 img19 img19 img19 img19 img20 img20 img20 img20 img20"
                       "img21 img21 img21 img21 img21 img21 img21 img22 img22 img22 img22 img22"
                       ".     .     .     sum7  sum7  sum7  sum7  sum7  sum7  .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       ".     vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.bt-edu {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       ".     vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  ."
                       ".     vid3  vid3  vid3  vid3  vid3  vid3  vid3  vid3  vid3  vid3  ."
                       ".     vid4  vid4  vid4  vid4  vid4  vid4  vid4  vid4  vid4  vid4  ."
                       ".     vid5  vid5  vid5  vid5  vid5  vid5  vid5  vid5  vid5  vid5  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.codeology {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       ".     sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.contest-of-champions {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .    ."
                       ".     img1  img1  img1  img1  img1  img1  img1  sum1  sum1  sum1  sum1"
                       "sum4  sum4  sum4  sum4  img2  img2  img2  img2  img2  img2  img2  img2"
                       ".     img3  img3  img3  img3  img3  sum3  sum3  sum3  sum3  sum3  ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.impossible-foods {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  ."
                       "img1  img1  img1  img1  img2  img2  img2  img2  img3  img3  img3  img3"
                       ".     sum4  sum4  sum4  sum4  sum4  sum4  sum4  sum4  sum4  sum4  ."
                       ".     img4  img4  img4  img4  img4  img4  img4  img4  img4  img4  ."
                       ".     img5  img5  img6  img6  img7  img7  img8  img8  img9  img9  ."
                       "img10 img10 img10 img10 img10 img10 .     .     .     .     .     ."
                       ".     .     sum3  sum3  sum3  sum3  sum3  sum3  sum3  sum3  .     ."
                       ".     .     img11 img11 img11 img11 img11 img11 img11 img11 .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.mario-sonic {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       ".     vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.ups {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     .     sum1  sum1  sum1  sum1  sum1  sum1  sum1  sum1  .     ."
                       "img1  img1  img1  img1  img1  img1  img1  img1  img1  img2  img2  img2"
                       ".     .     img3  img3  img3  img3  img3  img3  img3  img3  .     ."
                       "img4  img4  img4  img4  img4  img4  .     .     .     .     .     ."
                       ".     .     .     img5  img5  img5  img5  img5  img5  .     .     ."
                       ".     .     .     .     .     .     img6  img6  img6  img6  img6  img6"
                       ".     .     sum4  sum4  sum4  sum4  sum4  sum4  sum4  sum4  .     ."
                       ".     img7  img7  img7  img7  img7  img7  img7  img8  img8  img8  ."
                       ".     .     sum3  sum3  sum3  sum3  sum3  sum3  sum3  sum3  .     ."
                       ".     img9  img9  img9  img9  img9  img9  img10 img10 img10 .     ."
                       ".     img9  img9  img9  img9  img9  img9  img11 img11 img11 .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.d1f {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  .     ."
                       ".     vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  vid2  .     ."
                       ".     vid3  vid3  vid3  vid3  vid3  vid3  vid3  vid3  vid3  .     ."
                       ".     vid4  vid4  vid4  vid4  vid4  vid4  vid4  vid4  vid4  .     ."
                       ".     vid5  vid5  vid5  vid5  vid5  vid5  vid5  vid5  vid5  .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.th-gifs {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     img1  img1  img1  img1  img1  img1  img1  img1  img1  img1  ."
                       ".     img4  img4  img4  img4  img3  img3  img3  img3  img3  img3  ."
                       ".     img5  img5  img5  img5  img3  img3  img3  img3  img3  img3  ."
                       ".     .     img2  img2  img2  img2  img2  img2  img2  img2  .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.helium {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.malkovich {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     img6  img6  img6  img6  img3  img3  img3  img3  img3  img3  ."
                       ".     img1  img1  img1  img1  img3  img3  img3  img3  img3  img3  ."
                       ".     img2  img2  img2  img2     img3  img3  img3  img3  img3  img3  ."
                       ".     img2  img2  img2  img2  img5  img5  img5  img4  img4  img4  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}

.sfbaes {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: "head  head  head  head  head  head  nav   nav   nav   nav   nav   nav"
                       ".     .     .     in    in    in    in    in    in    .     .     ."
                       ".     vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  vid1  ."
                       "foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot  foot";
  align-content: space-between;
  background-color: rgba(256,256,256,0.6);
  border: 11px solid white;
}


/* connecting written summary classes to grid areas of the same name */
.sum1 { grid-area: sum1; background: aqua; } .sum2 { grid-area: sum2; } .sum3 { grid-area: sum3; } .sum4 { grid-area: sum4; } .sum2 { grid-area: sum5; } .sum6 { grid-area: sum6; } .sum7 { grid-area: sum7; }

/* connecting image classes to grid areas of the same name */
.img1 { grid-area: img1; background: purple; } .img2 { grid-area: img2; background: orange; } .img3 { grid-area: img3; background: silver; } .img4 { grid-area: img4; } .img5 { grid-area: img5; } .img6 { grid-area: img6; } .img7 { grid-area: img7; } .img8 { grid-area: img8; } .img9 { grid-area: img9; } .img10 { grid-area: img10; } .img11 { grid-area: img11; } .img12 { grid-area: img12; } .img13 { grid-area: img13; } .img14 { grid-area: img14; } .img15 { grid-area: img15; } .img16 { grid-area: img16; } .img17 { grid-area: img17; } .img18 { grid-area: img18; } .img19 { grid-area: img19; } .img20 { grid-area: img20; } .img21 { grid-area: img21; } .img22 { grid-area: img22; } .img23 { grid-area: img23; } .img24 { grid-area: img24; } .img25 { grid-area: img25; } .img26 { grid-area: img26; }

/* connecting video classes to grid areas of the same name */
.vid1 { grid-area: vid1; /*min-width: 300px;*/ background: coral; } .vid2 { grid-area: vid2; background: darkorchid; } .vid3 { grid-area: vid3; background: darkorchid; } .vid4 { grid-area: vid4; background: darkorchid; } .vid5 { grid-area: vid5; background: darkorchid; } .vid6 { grid-area: vid6; background: darkorchid; } .vid7 { grid-area: vid7; background: darkorchid; } .vid8 { grid-area: vid8; background: darkorchid; }


.nav-bar {
  /*width: 100%;*/
  background-color: #FFFFFF;
  /*grid-area: nav;*/
}

.homepage-para {
  font-family: Rubik, sans-serif;
  font-size: 2.5em;
  /*line-height: 1.3em;*/
  /*width: 25em;*/
  /*margin: auto;*/
  background-color: #E89C6C;
}

/* trying to use css grid (.grid) instead */
/*.wrapper {*/
  /*padding: 2em;*/
  /*width: 90%;*/
  /*margin: auto;*/
/*  margin-top: 5%;*/
  /*background-color: #FF957E;*/
  /*min-height: calc(100vh - 150px);*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
/*}*/

.intro {
  /*width: 80%;*/
  /*margin: auto;*/
  grid-area: in;
  /*background: pink;*/
}

.intro-title {
  font-size: 3rem;
  font-family: 'Rubik', sans-serif;
  /*font-weight: 700;*/
  text-align: center;
  font-weight: normal;
  letter-spacing: -.03em;

  }

.intro-head {
  text-align: left;
  letter-spacing: -.002em;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.intro-body {
  padding-top: 0;
  font-size: 1.2rem;
  /*font-family: 'Nunito', sans-serif;*/
  width: 30em;
  text-align: left;
}


::selection {
  color: red;
  background: yellow;
}

/* code for medium, tablet-sized screens */
@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }

/* css grid classes for all pages, using a 6-column grid here */
  .index {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 15% auto 15%;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     main  main  main  main  ."
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .about-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     story story story story ."
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: #FF957E;
  }

  .dropbox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         ".     sum1  sum1  sum1  sum1  ."
                         "img1  img1  .     .     img3  img3"
                         "img1  img1  img2  img2  img3  img3"
                         "img4  img4  img2  img2  img5  img5"
                         "img4  img4  .     .     img5  img5"
                         ".     sum2  sum2  sum2  sum2  ."
                         "vid1  vid1  vid1  vid1  vid1  vid1"
                         "vid2  vid2  vid2  vid2  vid2  vid2"
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .braintree {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         ".     sum1  sum1  sum1  sum1  ."
                         "img1  img1  img1  img2  img2  img2"
                         "img3  img3  img4  img4  img5  img5"
                         "img6  img6  img6  img6  img7  img7"
                         "img8  img8  img8  img9  img9  img9"
                         "img10 img10 img11 img11 img11 img11"
                         ".     sum2  sum2  sum2  sum2  ."
                         "img12 img12 img13 img13 img14 img14"
                         "img15 img15 img15 blk1  blk1  blk1"
                         ".     sum3  sum3  sum3  sum3  ."
                         "img16 img16 img17 img17 img18 img18"
                         ".     sum4  sum4  sum4  sum4  ."
                         "img19 img19 img19 img19 img20 img20"
                         "img21 img21 img21 img21 img22 img22"
                         ".     sum5  sum5  sum5  sum5  ."
                         "vid1  vid1  vid1  vid1  vid1  vid1"
                         "vid2  vid2  vid2  vid2  vid2  vid2"
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .bt-edu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         "vid1  vid1  vid1  vid1  vid1  vid1"
                         "vid2  vid2  vid2  vid2  vid2  vid2"
                         "vid3  vid3  vid3  vid3  vid3  vid3"
                         "vid4  vid4  vid4  vid4  vid4  vid4"
                         "vid5  vid5  vid5  vid5  vid5  vid5"
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .codeology {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         "vid1  vid1  vid1  vid1  vid1  vid1"
                         ".     sum1  sum1  sum1  sum1  ."
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .contest-of-champions {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         "img1  img1  img1  img1  sum1  sum1"
                         "sum2  sum2  img2  img2  img2  img2"
                         "img3  img3  img3  sum3  sum3  sum3"
                         ".     vid1  vid1  vid1  vid1  ."
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .impossible-foods {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         "sum1  sum1  sum1  sum1  sum1  sum1"
                         "img1  img1  img2  img2  img3  img3"
                         "sum2  sum2  sum2  sum2  sum2  sum2"
                         "img4  img4  img4  img4  img4  img4"
                         "img5  img6  img7  img8  img9  ."
                         "img10 img10 img10 .     .     ."
                         "sum3  sum3  sum3  sum3  sum3  sum3"
                         ".     img11 img11 img11 img11 ."
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .mario-sonic {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         "vid1  vid1  vid1  vid1  vid1  vid1"
                         "vid2  vid2  vid2  vid2  vid2  vid2"
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: grey;
  }

  .ups {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: calc(100vh - 25px);
    grid-template-rows: 100px auto;
    grid-gap: 1.5em;
    grid-template-areas: "head  head  head  nav   nav   nav"
                         ".     in    in    in    in    ."
                         ".     sum1  sum1  sum1  sum1  ."
                         "img1  img1  img1  img1  img1  img2"
                         ".     img3  img3  img3  img3  ."
                         "img4  img4  img4  .     .     ."
                         ".     .     img5  img5  img5  ."
                         ".     .     .     img6  img6  img6"
                         ".     sum2  sum2  sum2  sum2  ."
                         "img7  img7  img7  img7  img8  img8"
                         ".     sum3  sum3  sum3  sum3  ."
                         "img9  img9  img9  img9  img10 img10"
                         "img9  img9  img9  img9  img11 img11"
                         "foot  foot  foot  foot  foot  foot";
    align-content: space-between;
    background-color: white;
  }



  nav ul {
    padding: 0;
  }

/* more code goes in here */

 }

/* code for small, phone-sized screens */
 @media screen and (max-width: 525px) {

  body {
    font-size: 14px;
  }

/* css grid classes for all pages, using a 3-column grid here */
  .index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "main  main  main"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .about-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "story story story"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: #FF957E;
  }

  .dropbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "sum1  sum1  sum1"
                       "img1  img1  ."
                       ".     img2  img2"
                       "img3  img3  ."
                       ".     img4  img4"
                       "img5  img5  ."
                       "sum2  sum2  sum2"
                       "vid1  vid1  vid1"
                       "vid2  vid2  vid2"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .braintree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "sum1  sum1  sum1"
                       "img1  img1  img1"
                       "img2  img2  img2"
                       "img3  img3  ."
                       ".     img4  img4"
                       "img5  img5  ."
                       "img6  img6  img7"
                       "img8  img8  ."
                       ".     img9  img9"
                       "img10 img11 img11"
                       "sum2  sum2  sum2"
                       "img12 img12 ."
                       ".     img13 img13"
                       "img14 img14 ."
                       "img15 img15 img15"
                       "blk1  blk1  blk1"
                       "sum3  sum3  sum3"
                       "img16 img16 ."
                       ".     img17 img17"
                       "img18 img18 ."
                       "sum4  sum4  sum4"
                       "img19 img19 img20"
                       "img21 img21 img22"
                       "sum5  sum5  sum5"
                       "vid1  vid1  vid1"
                       "vid2  vid2  vid2"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .bt-edu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "vid1  vid1  vid1"
                       "vid2  vid2  vid2"
                       "vid3  vid3  vid3"
                       "vid4  vid4  vid4"
                       "vid5  vid5  vid5"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .codeology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "vid1  vid1  vid1"
                       "sum1  sum1  sum1"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .contest-of-champions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "sum1  sum1  sum1"
                       "img1  img1  img1"
                       "sum2  sum2  sum2"
                       "img2  img2  img2"
                       "sum3  sum3  sum3"
                       "img3  img3  img3"
                       "vid1  vid1  vid1"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .impossible-foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       ".     sum1  ."
                       "img1  img1  img1"
                       "img2  img2  img2"
                       "img3  img3  img3"
                       ".     sum2  ."
                       "img4  img4  img4"
                       "img5  img5  ."
                       ".     img6  img6"
                       "img7  img7  ."
                       ".     img8  img8"
                       "img9  img9  ."
                       "img10 img10 img10"
                       ".     .     ."
                       "sum3  sum3  sum3"
                       "img11 img11 img11"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .mario-sonic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       "vid1  vid1  vid1"
                       "vid2  vid2  vid2"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  .ups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 10px);
  grid-template-rows: 100px auto;
  grid-gap: 1.5em;
  grid-template-areas: ".     head  ."
                       ".     nav   ."
                       "in    in    in"
                       ".     sum1  ."
                       "img1  img1  img2"
                       "img3  img3  img3"
                       "img4  img4  img4"
                       "img5  img5  img5"
                       "img6  img6  img6"
                       ".     sum2  ."
                       "img7  img7  img8"
                       ".     sum3  ."
                       "img9  img9  img10"
                       "img9  img9  img11"
                       "foot  foot  foot";
  align-content: space-between;
  background-color: aqua;
  }

  header {
    /* not sure why this text-align isn't working */
    text-align: right;
  }

  nav {
    display: none;
  }


/* more code goes in here */

}

