body {
  background: #337755;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  color: rgba(256,256,256,.7);

}
#slogan {
  font-size: 24px;
  font-style: italic;
}
ul {

}
li {
  text-align: left;
  font-style: bold;
}
hr {
  width: 300px;
}
a{
  color: pink;
  text-decoration: none;
}